body {
  width: 300px;
  height: 60px;
}

#update, select, input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#update, #cancel {
  width: 60%;
  margin-right: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#cancel {
  width: 30%;
  background-color: rgb(189, 11, 11);
}

#update:hover {
  background-color: #45a049;
}

#cancel:hover {
  background-color: rgb(109, 13, 13);
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.btn {
    border: none; 
    color: white; 
    padding: 15px 15px;  
    font-size: 16px; 
    float: left;
    border-radius: 2px;
    margin-right: 10px;
    margin-top: -16px;
  }

  #add {
    background-color: rgb(6, 165, 67); 
  }

  #edit {
    background-color: DodgerBlue;;
  }

  #remove {
    background-color: rgb(189, 11, 11);
  }

  #add:hover {
    background-color: rgb(12, 92, 42); 
  }

  #edit:hover {
    background-color: RoyalBlue;
  }

  #remove:hover {
    background-color: rgb(109, 13, 13);
  }
  

